﻿body {
    font-family: Helvetica,sans-serif;
    font-size: 14px;
}

    body .top-bar .main-bar {
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        border: 2px solid green;
        border-color: black;
        max-height: 30px;
        height: 30px;
        align-items: center;
        align-content: center;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            display: flex;
            gap: 15px;
            padding-left: 20px;
            max-height: 20px;
            height: 20px;
        }

            body .top-bar .main-bar .contact-left .btn-contact-left {
                cursor: alias;
            }

        body .top-bar .main-bar .login-right {
            flex-grow: 4;
            display: flex;
            justify-content: right;
            gap: 15px;
        }

    body .second-bar {
        width: 80%;
        margin: auto;
        flex-wrap: nowrap;
        max-height: 140px;
        height: 140px;
        border-bottom: 1px solid dimgrey;
    }

        body .second-bar .logo-banner {
            gap: 20px;
            display: flex;
            flex-wrap: nowrap;
        }

    body .select-bar {
        background-color: greenyellow;
        width: 80%;
        margin: auto;
        max-height: 40px;
        height: 40px;
        display: flex;
        flex-wrap: nowrap;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
    }

        body .select-bar .btn-select {
            background-color: deepskyblue;
            width: 100%;
            max-height: 30px;
            height: 30px;
        }

            body .select-bar .btn-select .thoisu {
                max-height: 30px;
                height: 30px;
                margin: 0px;
                background-color: white;
                border: 0px solid
            }

            body .select-bar .btn-select .thegioi {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .kinhdoanh {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .giaitri {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .thethao {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .phapluat {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .giaoduc {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .suckhoe {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .giadinh {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .dulich {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .khoahoc {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .sohoa {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .xe {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .congdong {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .tamsu {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .video {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .cuoi {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }

            body .select-bar .btn-select .raovat {
                max-height: 30px;
                height: 30px;
                margin: 0px;
            }
